# sqlviz

> A python library for visualizing sql queries.

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
from sqlviz.utils import *
from sqlviz.sql import *
from sqlviz.parser import *

## Basic useage

In [ ]:
conn = Conn(CREDS)
query = "select count(*) as records from pageviews"
sql = Sql(conn, query)
sql.run()

  records
0  860385

## Classes

In [ ]:
show_doc(Conn)

---

### Conn

>      Conn (creds:dict)

A wrapper around a psycopg2 connection.

In [ ]:
show_doc(Sql)

---

### Sql

>      Sql (conn:sqlviz.sql.Conn, query:str)

A query plus a db connection.