# sqlviz

> A python library for visualizing sql queries.

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
from sqlviz.utils import *
from sqlviz.sql import *
from sqlviz.parser import *

## Basic useage

In [ ]:
conn = Conn(CREDS)
query = "select email, url from pageviews limit 5"
sql = Sql(conn, query)
sql.run()

,email,url
0,sk.bhachech@everbridge.com,https://everbridge.zengrc.com/reports/audits/a...
1,sk.bhachech@everbridge.com,https://everbridge.zengrc.com/sor/listing/Revi...
2,maria_sonina@colpal.com,https://colgate.zengrc.com/sor/info/Project/22...
3,chuck.walkup@virginpulse.com,https://virginpulse.zengrc.com/todo_list/To-Do...
4,chuck.walkup@virginpulse.com,https://virginpulse.zengrc.com/sor/listing/Iss...

## Classes

In [ ]:
show_doc(Conn)

---

### Conn

>      Conn (creds:dict)

A wrapper around a psycopg2 connection.

In [ ]:
show_doc(Sql)

---

### Sql

>      Sql (conn:sqlviz.sql.Conn, query:str)

A query plus a db connection.